#wrapper{
    overflow-y: auto;overflow-x:hidden;
}
*{margin:0px;padding:0px;}
.page1{
    background: url(me1.jpeg);
    background-size: 100% 100%;   display:flex;
    background-attachment: fixed; 
    justify-content: center;
    background-repeat: no-repeat;
    justify-content: center;
    height:100vh;width:100vw;
}
.page2{
    background: url(loyola1.jpg);
    background-size: 100% 100%;
    display:flex; justify-content: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;width:100vw;
}
.page3{
    background: url(bitm.jpg);
    background-size: 100% 100%;
    display:flex; justify-content: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;width:100vw;
}
.page1 h1{
    font-size: 250px;color:rgba(162, 75, 174, 0.87);position: absolute;
    margin:auto;background-color: gold;
    text-align: center;left:35w;top:40vh;padding:10px;width:50vw;
}
.page2 h1{
    font-size: 250px;color:rgba(162, 75, 174, 0.87);position: absolute;
    margin:auto;background-color: gold;width:70vw;
    text-align: center;left:30vh;padding:0px;margin-top: 40vh;
}
.page3 h1{
    font-size: 250px;color:rgba(162, 75, 174, 0.87);position: absolute;
    margin:auto;background-color: gold;width:80vw;
    text-align: center;left:20vh;padding:0px;margin-top: 35vh;
}
.page1 p{
    padding:100px;position:absolute;
    background-color:rgb(22, 46, 67); color:white;
    font-size:100px;font-family:georgia;height:400px;width:100vw;
    top:75%;
}
.page2 p{
    padding:50px;position:relative;
    background-color:rgb(22, 46, 67); color:white;
    font-size:100px;font-family:georgia;height:400px;width:100000vw;
    top:75%;
}
.page3 p{
    padding:50px;position:relative;
    background-color:rgb(22, 46, 67); color:white;
    font-size:100px;font-family:georgia;height:400px;width:650%;
    top:70%;
}
.footer{
    display:flex;
    margin-top:50px;
    width:100vw;background-color: #333;
    color:#efefef; padding:200px;
    font-family: 'poppins', sans-serif;
}
.footer div{
    text-align:center;font-family:poppins;box-sizing: border-box;
}
.col1 h2, .col2 h2, .col3 h2{font-size: 150px;font-weight:250px;margin-bottom: 50px;}
.col2{
    flex-grow:0.1;
    font-size:100px;
    letter-spacing: 1px;
}
.col1{
    flex-grow:.4;
    font-size:100px; font-weight:100px;
}
.col3{
    flex-grow:.4;
    font-size:80px;
}
input[type=text]{width:800px;height:100px;padding:10px;font-size:80px;}
input[type=submit]{width:80px;border-radius: 3px;height:90px;}
label{font-size:80px;}
::placeholder{font-size:80px; color:grey;text-align: center;}
.col1 a, .col3 a{
    text-decoration: none; display:block;color:#efefef; margin-bottom: 5px;
}
